@font-face {
    font-family: 'Mak';
    src: url('../fonts/MAK.otf');
}

@font-face {
    font-family: 'Mak';
    font-weight: 700;
    src: url('../fonts/MAK-bold.otf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
.contentBlock{
    padding: 0 calc(5.6vw + 3.7px) 0 calc(5.6vw + 3.7px);
}
/* Header Start */
.header_container{
    display: flex;
    flex-direction: column;
    background-color: #8A966F;
    margin-bottom: calc(3vw + 21px);
}
.header{
    color: white;
    display: flex;
    justify-content: space-between;
    
    position: relative;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: calc(1.8vw + 13.5px);
    padding-top: 13px;
    padding-bottom: 13px;
    font-family: 'Mak';
    color: #EBF5DD;
}
.logo img{
    width: calc(2.75vw + 21px);
}
.menu{
    display: flex; 
    align-items: center;
    cursor: pointer;
}
.menu h3{
    font-weight: 400;
    font-family: 'Mont';
    font-size: calc(0.7vw + 10.4px);
    color: #EBF5DD;
}
.menu h3:nth-child(1){
    margin-right: 112px ;
}
.menu h3:nth-child(2){
    margin-right: 32px ;
}
.menu a{
    text-decoration: none;
    color: #EBF5DD;
}
.mob_menu_icon{
    display: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(-20px, -50%);
    font-size: calc(1.9vw + 11px);
    color: #EBF5DD;
}
.mob_menu{
    font-family: 'Mont';
}
.mob_menu ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mob_menu li{
   list-style: none;
   color: #EBF5DD;
}
.mob_menu li a{
    text-decoration: none;
    color: #EBF5DD;
}
/* Header End */
/* Slider start */
.splide.slider1{
    margin-bottom: calc(2vw + 16.6px);
}


.splide__track{
    height: 100%;
    margin: 0 auto;
}
.splide__list{
   gap: calc(0.6vw + 12px);
}
.splide__slide{
    position: relative;
    height: calc(25.4vw + 93px);
    border-radius: 30px;
    border-radius: 48px 48px ;
    
}
.splide__slide.main{
   overflow: hidden;
}
.splide__slide.main img{
    width: 100%;
    border-radius: calc(2vw + 8.6px);
    height: 100%;
    transform: scale(1.2);
}
.splide__arrow{
    display: none;  
}
.splide__slide__text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: calc(0.9vw + 6.7px);
    background-color: #9AA780;
    color: #EBF5DD;
    border-radius:0 0 calc(2vw + 8.6px) calc(2vw + 8.6px);
    font-family: 'Mont';
    text-align: center;
    font-size: calc(0.64vw + 7.7px);
}
/* slider End */


.advertiser{
    width: 100%;
    margin-bottom: calc(2vw + 16.6px);
}
.advertiser_container{
    background-color: #D9D9D9;
    border-radius: 23px;

}
.advertiser_container h3{
    padding: calc(4.5vw - 5px) 0;
    text-align: center;
    font-family: 'Mak';
    font-size: calc(3.6vw + 27px);
    font-weight: 400;
}

/* Stars Start */
.stars{
    margin-bottom: calc(2.5vw + 6.7px);
}
.stars h3{
    color: #4D4D4D;
    font-family: 'Mont';
    font-size: calc(2.2vw + 4.1px);
    margin-bottom: calc(1.3vw + 7.4px);
    font-weight: 700;
}
.stars_container{
    display: flex;
    gap: 23px;
    overflow: hidden;
}
.stars_box{
    text-align: center;
}
.stars_box img{
    width: calc(12.8vw + 14px);
    height: calc(13vw + 14px);
    border-radius: 50%;
    background-color: #9AA780;
}
.stars_box h4{
    font-size: calc(0.8vw + 5.2px);
    font-weight: 700;
    font-family: 'Mont';
}
/* Stars End */

/* Shop start */
.shop{
    display: flex;
    flex-direction: column;
}
.shop h3{
    font-family: 'Mont';
    font-size: calc(1.5vw + 6.5px);
    color: #4D4D4D;
    margin-bottom: calc(1.3vw + 7.4px);
}
.shop_containre{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    margin-bottom: calc(2vw + 16.7px);
}
.shop_box{
    text-align: center;
}
.shop_box img{
    width: 100%;
    margin-bottom: calc(1vw + 4.3px);
}
.shop_box p{
    font-size: calc(0.6vw + 7.7px);
    color: #9AA780;
    font-weight: 300;
}
/* Shop end */

#carousel-heading{
    margin-bottom: calc(1.3vw + 7.4px);
    color: #4D4D4D;
    font-family: 'Mont';
    font-size: calc(2.2vw + 4.1px);
    margin: 0;
}
.star_title{
  color: #4C4C4C;
  font-size: calc(0.77vw + 5.2px);
}
.splide.other{
    width: 90%;
    margin: 0 auto;
}
.footer-logo p{
    color: #EBF5DD;
    font-weight: 300;
}





/* Footer Start */
footer{
    background-color: #8A966F;
}
.footer_container{
    display: flex;
    flex-wrap: wrap;
    gap: 0 117px ;
    margin-bottom: 32px;
}
.footer-logo{
    min-width: 315px;
    color:white;
   padding-top: calc(0.5vw + 22px);
   margin-bottom: 33px;
   flex-basis: 312px;
   flex-shrink: 1;
}

.footer_container p{
    font-family: 'Mont';
    font-size: 20px;
    font-weight: 400;
    color: white;
}
.footer_content{
    margin-top: calc(3.7vw + 24px) ;
    flex-shrink: 1000;
}
.footer_content h4{
    color: #EBF5DD;
    font-family: 'Mont';
    font-weight: 600;
    font-size: calc(0.5vw + 14px);
    margin-bottom: 12px;
}
.footer_content_boxs{
    display: grid;
    grid-template-areas: "a b c";
    gap: 0 80px;
}
.footer_content_box.left{
    grid-area: a;
}
.footer_content_box ul{
    list-style: none;
}
.footer_content_box .center{
    grid-area: b;
}
.footer_content_box.right{
    grid-area: c;
}
.footer_content_box.left{
    grid-area: a;
}
.footer_content_box ul li{
    color: #EBF5DD;
    font-family: 'Mont';
    font-weight: 200;
    margin-bottom: 8px;
    
}
h5{
    text-align: center;
    color: #EBF5DD;
    font-family: 'Mont';
    font-weight: 200;
    font-size: 20px;
    padding-bottom: 32px;
}
/* footer End */
.splide__slide {
    text-align: center;

}
.splide__slide img{
    width: 100% ;
    height: 80%;
    margin-bottom: calc(1vw + 4.3px);
}
.splide__slide h4{
    font-family: 'Mont';
    font-size: calc(0.64vw + 7.7px);
    font-weight: 300;
    color: #9AA780;
    
}

.active{
    display: block;
}
.hidden{
    display: none;
}
.footer-logo p{
    color: #EBF5DD;
    font-weight: 300;
}





@media (max-width:1220px) {
    .footer-logo p{
       display: none;
    }
    .footer_content{
        margin-top: 0;
    }
    .splide__arrow{
        display: none;
    }
}
@media (max-width:756px){
    .footer_content_boxs{
        grid-template-areas: "a b"
                             "a c";
    }
    .menu{
        display: none;
    }
    .header{
        justify-content: center;
    }
    .shop_containre{
        grid-template-columns: 1fr 1fr;
    }
    .mob_menu_icon{
        display: block;
    }
    
}